<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Prueba Técnica</title>

</head>

<body>
  <h1 style="text-align: center; margin-block: 2rem;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Prueba Técnica</h1>
  <h4 style="text-align: center;">Solo se gatilla el envío del correo solo cuando la columna que se edita es Tasa</h4>
  <h4></h4>
  <div style="padding: 4rem; display: flex; justify-content: center;">
    <iframe
      src="https://docs.google.com/spreadsheets/d/1pOVy_FuQGYI-yaeGIAsPss9MdmiXOeHbLOBggfhXa7E/edit?usp=sharing&amp;single=true&amp;widget=true&amp;rm=minimal&amp;headers=false"
      style="width: 500px; height: 350px;"
    >
    </iframe>
  </div>
</body>
</html>